<div class="main">
  <img class="pic" [src]="image" alt="" />
  <h1>Shan's <br /><span>app</span></h1>
</div>
<div class="shans">
  <div class="login">Login</div>
  <div class="container">
    <form>
      <label class="label">User name</label>
      <br />
      <input class="input" type="text" />
      <br />
      <label class="label">Password</label>
      <br />
      <input class="input" type="password" />
    </form>
  </div>

  <div class="submit">
    <button class="btn">submit</button>
  </div>
</div>
