<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>kerala Rythm</mat-card-title>
    <mat-card-subtitle>kerala</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/kathakali-pratham-gupta.jpg"
    alt="Photo of kerala"
  />
  <mat-card-content>
    <p>
      Kerala is known as God’s Own Country and a map of tourism destinations in
      Kerala like Munnar, Thekkady, Alleppey, Kumarakom, Kovalam, Varkala &
      Wayanad is famous all through the world can come in handy if you are
      visiting Kerala. Here is a Kerala Tourism Map that clearly identifies
      tourist places that would make it easy for travelers who are coming to
      Kerala to plan the trip
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
